@import '~/../../../../global_mixins_variables.scss';

:host{  
    
 display: block;

 text-align: center;
 margin-top: 2em;
 
}
.buttonTo{
    
    text-decoration: none;
    cursor: pointer;
    
    border-radius: 50%;
    color:white;
    display: flex;
    
    span{
        font-size: 3em;
    }
}
a:hover{
    transform: scale(1.5);
    transition: all 1s ease-in infinite;
}
