:host{
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    

    align-items: center;
}

.sideBar__fixed{
  // height: 100vh;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.sectionRoutes{
  // border-left: 2px solid #ff4662;
  min-height: 100vh;
  width: 80%;
  margin-left: 22.75em;
}