:host{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    

    align-items: center;
}

.cont{
  width: 20%;
}
.b{
  border-left: 2px solid #ff4662;
  height: 100vh;
  width: 80%;
}