<app-side-bar></app-side-bar>
<!-- <div class="sideBar">
  <div class="sideBar__infoUser flex_center_heigth">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor totam iste
    ex illum eos nihil porro vel exercitationem consequatur laudantium eveniet
    quidem eligendi sint ratione, ipsa nulla illo ipsam. Accusantium.
  </div>
  <div class="sideBar__navBar">
    <div class="sideBar__navBar__item1 flex_center_heigth">
      <p>Proyectos Reales</p>
    </div>
    <div class="sideBar__navBar__item2 flex_center_heigth">
      <p>Cursos y Ejercicios</p>
    </div>
  </div>
</div> -->

<div class="b">
  <router-outlet></router-outlet>
</div>
