<header>
  <nav>
    <ul class="menu-nav">
      <app-nav-button
        [target]="'/home'"
        [textoAnchor]="'Quien Soy'"
        [colorBoxShadow]="'White'"
      >
        <fa-icon [icon]="['fas', 'male']"></fa-icon>
      </app-nav-button>

      <app-nav-button
        [target]="'/skills'"
        [textoAnchor]="'Skills'"
        [colorBoxShadow]="'White'"
      >
        <fa-icon [icon]="['fas', 'tools']"></fa-icon>
      </app-nav-button>
      <app-nav-button
        [target]="'/portafolio'"
        [textoAnchor]="'Portafolio'"
        [colorBoxShadow]="'White'"
      >
        <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
      </app-nav-button>
      <app-nav-button
        [target]="'/cv'"
        [textoAnchor]="'Cv'"
        [colorBoxShadow]="'White'"
      >
        <fa-icon [icon]="['fas', 'scroll']"></fa-icon>
      </app-nav-button>
    </ul>
  </nav>
</header>
