<app-slider-cv
  [animationViewCv]="isViewCvAnimationList[0].isViewCvAnimation"
  [viewCvElementPos]="0"
  [nameCv]="'Junior Java Backend'"
  [animationViewCvList]='this.isViewCvAnimationList'
  (animationViewCvEmitter)="this.isViewCvAnimationList = $event"
></app-slider-cv>
<app-slider-cv
  [nameCv]="'Junior Angular Frontend'"

  [animationViewCv]="isViewCvAnimationList[1].isViewCvAnimation"
  [animationViewCvList]='this.isViewCvAnimationList'
  [viewCvElementPos]="1"
></app-slider-cv>

<app-slider-cv
  [nameCv]="'Junior FullStack Angular-Java'"
  [animationViewCv]="isViewCvAnimationList[2].isViewCvAnimation"
  [animationViewCvList]='this.isViewCvAnimationList'
  [viewCvElementPos]="2"
></app-slider-cv>

<!-- <button (click)="toggleCv()">ssss</button> -->

