<div class="cvSlider flex_center">
    <div class="cvSlider_tap flex_center " (click)="this.toggleCv()" >
        <p>
            junior java Backend
        </p>
    </div>
    <div class="cvSlider_cv" *ngIf="this.isViewCv">
        <img class="cvSlider_cv_image" src="../../../../assets/CV Frontend Junior.jpg" alt="">
    </div>    
</div>



<div class="cvSlider flex_center">
    <div class="cvSlider_tap flex_center " (click)="this.toggleCv1()" >
        <p>
            junior java Backend
        </p>
    </div>
    <div class="cvSlider_cv" *ngIf="this.isViewCv1">
        <img src="../../../../assets/CV Frontend Junior.jpg" alt="">
    </div>    
</div>