<div>
  <app-social-button
    [urlSocialMedia]="'https://github.com/SirLocust'"
    [nameSocialMedia]="'Git Hub'"
  >
    <fa-icon [icon]="['fab', 'github']" [size]="'3x'"></fa-icon>
  </app-social-button>
  <app-social-button
    [urlSocialMedia]="'https://twitter.com/devSirlocust'"
    [nameSocialMedia]="'Twitter'"
  >
    <fa-icon [icon]="['fab', 'twitter']" [size]="'3x'"></fa-icon>
  </app-social-button>
  <app-social-button
    [nameSocialMedia]="'Linkedin'"
    [urlSocialMedia]="'https://www.linkedin.com/in/devsirlocust/'"
  >
    <fa-icon [icon]="['fab', 'linkedin']" [size]="'3x'"></fa-icon>
  </app-social-button>
  <app-social-button
    [nameSocialMedia]="'Free Code Camp'"
    [urlSocialMedia]="'https://www.freecodecamp.org/sirlocust'"
  >
    <fa-icon [icon]="['fab', 'free-code-camp']" [size]="'3x'"></fa-icon>
  </app-social-button>
</div>
