<div>
  <app-social-button [urlSocialMedia]="'https://github.com/SirLocust'">
    <fa-icon [icon]="['fab', 'github']" [size]="'3x'"></fa-icon>
  </app-social-button>
  <app-social-button>
    <fa-icon [icon]="['fab', 'twitter']" [size]="'3x'"></fa-icon>
  </app-social-button>
  <app-social-button>
    <fa-icon [icon]="['fab', 'linkedin']" [size]="'3x'"></fa-icon>
  </app-social-button>
  <app-social-button>
    <fa-icon [icon]="['fab', 'free-code-camp']" [size]="'3x'"></fa-icon>
  </app-social-button>
</div>
