<ng-container *ngIf="!this.bioVisible">
  <h1 class="writerText">
    {{ title }}
    <span
      [ngClass]="{
        writer_flicker: this.title.length === this.textWelcome.length
      }"
      >|</span
    >
  </h1>
</ng-container>

<div class="h" *ngIf="this.bioVisible">
  <ng-container *ngIf="this.personalDataService.pesonalData.bioInfo as bioInfo">
    <div class="containerbio">
      <div class="cardImg" *ngIf="this.bioVisible">
        <div class="cardImg_picture">
          <img src="assets/imgProfile.jpg" alt="" />
        </div>
        <div class="cardImg_article">
          <p>
            {{ bioInfo.biofirst }}
          </p>
        </div>
      </div>
      <div class="titleHolder" *ngIf="this.bioVisible">
        <h1 *ngFor="let title of bioInfo.title">{{ title }}</h1>
      </div>
    </div>
    <div *ngIf="this.bioVisible" class="flex_center">
      <app-socialbutton-group></app-socialbutton-group>
    </div>
  </ng-container>
</div>
