<ng-container *ngIf="!this.bioVisible">
  <h1 class="writerText">
    {{ title }}
    <span
      [ngClass]="{
        writer_flicker: this.title.length === this.textWelcome.length
      }"
      >|</span
    >
  </h1>
</ng-container>
<div class="h" *ngIf="this.bioVisible">
  <div class="containerbio">
    <div class="cardImg" *ngIf="this.bioVisible">
      <div class="cardImg_picture">
        <img src="assets/imgProfile.jpg" alt="" />
      </div>
      <div class="cardImg_article">
        <!-- <h1>Un Poco Sobre Mi</h1> -->
        <p>
          Junior Frontend developer en angular con 1 año de experiencia como
          freelance apasionado por angular y las aplicaciones web buscando una
          empresa para desarrollar mis habilidades en el mundo del frontend y
          aportar a esta mi conocimiento
        </p>
      </div>
    </div>
    <div class="titleHolder" *ngIf="this.bioVisible">
      <h1>JUNIOR</h1>
      <h1>DEVELOPER</h1>
    </div>
  </div>

  <div *ngIf="this.bioVisible" class="flex_center">
    <app-socialbutton-group></app-socialbutton-group>
  </div>
</div>
