@import './../../../../global_mixins_variables.scss';

.cardImg{
    // padding: 60px;

    padding: 1.875em;
    background-color:rgba(0, 0, 0, .8);
    min-width: 27em;
    height: 23em;
    border-radius: 0.125em;
    animation: into 0.5s ease-in-out ;
    color :white;
    @include neonShadowBox(#0be516,#72e996);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.writerText{
    text-align: center;
    font-size: 3.125em;
    color: white;
    // animation: glow 1s ease-in-out infinite alternate;
    @include textShadow($neonGreenPrimary);
    
}
.writer_flicker{
    
    animation: sul 1.2s ease-in infinite;
    
}
@keyframes sul{
    from{
        opacity: 0;
    }
    to{ opacity: 1;}
}

@keyframes into{
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.25);
    }
    50%{
        transform: scale(0.5);
    }
    75%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

.cardImg_picture{
    position: relative;
    left: -30%;
    // top: 50%;
    width: 12.5em;
    height: 12.5em;
    // // border-radius: 100px;
    img{
        width: 100%;
        border-radius: 60%;
        @include neonShadowBox(#0be516,#72e996);

    }
    // display: block;
    
}
.cardImg_article{

    padding: 0.625em;

    font-size: 1em ;
    width: 17em;

    
    margin-left: -5em;
    margin-right: 1em;
    h1{
        // font-size: 1.5em;
        @include textShadow($neonGreenPrimary);

        text-align: center;
    }
    p{
        // font-size: 1em;
        text-align: justify;
    }
    
}


