@import './../../../../global_mixins_variables.scss';

:host{
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.titleHolder{
    
    color:white;
    font-size: 2.0em;
    h1{
        margin: 0;
    }
}


.cardImg{
    // padding: 60px;

    padding: 1em;
    background-color:rgba(0, 0, 0, .8);
    min-width: 20em;
    max-height: 23em;
    border-radius: 0.125em;
    animation: into 0.5s ease-in-out ;
    color :white;
    // border: 1px solid white;
    @include neonShadowBox(#c0bfdf, #ebebeb);
    // @include neonShadowBox(#0be516,#72e996);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.writerText{
    text-align: center;
    font-size: 3.125em;
    color: white;
    transition: all 100ms ease;
    // animation: glow 1s ease-in-out infinite alternate;
    // @include textShadow($neonGreenPrimary);
    
}

.writer_flicker{
    
    animation: sul 1.2s ease-in infinite;
    
}
@keyframes sul{
    from{
        opacity: 0;
    }
    to{ opacity: 1;}
}

@keyframes into{
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.25);
    }
    50%{
        transform: scale(0.5);
    }
    75%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

.cardImg_picture{
    position: relative;
    left: -25%;
    top: 5%;
    width: 12.5em;
    height: 12.5em;
    // // border-radius: 100px;
    img{
        width: 90%;
        border-radius: 60%;
        // @include neonShadowBox(#0be516,#72e996);
        @include neonShadowBox(#c0bfdf, #ebebeb);

    }
    // display: block;
    
}
.cardImg_article{

    // padding: 0.625em;

    font-size: 1em ;
    max-width:  20em;

    
    margin-left: -6em;
    margin-right: 2em;
    h1{
        // font-size: 1.5em;
        @include textShadow($neonGreenPrimary);

        text-align: center;
    }
    p{
        font-size: 1.5em;
        text-align: justify;
    }
    
}


