<ng-container *ngIf="!this.bioVisible">
    <h1>
        {{ title }}
        <span
          [ngClass]="{
            tic: this.title.length === this.textWelcome.length
          }"
          >|</span
        >
      </h1>
</ng-container>


<div class="l" *ngIf="this.bioVisible">
  <div class="s">
    <!-- <h1>s</h1> -->
    <img src="../../../../assets/imgProfile.jpg" alt="">
  </div>
  <div class="q">

    <h1>gola</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quasi inventore corrupti. Ut sequi . Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti explicabo omnis optio ratione rerum tenetur provident voluptas beatae consectetur autem iure ullam enim veniam, quo soluta deserunt obcaecati. Enim?</p>
  </div>
</div>


