:host{
  min-height: 100vh;
  // margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  // padding: 20px;
}
.gridRepos{
  // display: flex;

  // flex-direction: row;

  // padding:10px;
  // width: 85%;
  // min-height: 90%;
  // overflow: auto;
  padding: 1.25em;
  display: grid;
  row-gap: 2em;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr ;
  
}