<app-skills-nav-bar></app-skills-nav-bar>
<!-- <router-outlet></router-outlet> -->
<div>
    <app-containerskill>

        <div class="flex_center left_text">
            <h1>hola mundo  </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quaerat repellat commodi ipsa id vitae placeat consectetur obcaecati inventore sed vero, culpa est recusandae nobis nostrum aspernatur nisi hic temporibus.</p>
        </div>

        <div class="flex_center right_text">
            <h1>hola mundo  </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quaerat repellat commodi ipsa id vitae placeat consectetur obcaecati inventore sed vero, culpa est recusandae nobis nostrum aspernatur nisi hic temporibus.</p>
        </div>
    </app-containerskill>

</div>
