<app-skills-nav-bar></app-skills-nav-bar>
<!-- <router-outlet></router-outlet> -->
<div>
    <h1>da</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis nemo ipsam amet doloribus repellendus officia facilis, quis laudantium nam! Sint quos ipsum aliquam, culpa vitae aliquid perspiciatis alias veniam incidunt.</p>

</div>
