:host{
    // min-height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills_container_principal{
    // display: inline;
    text-align: center;
    width: 80%;
    min-height: 93vh;
    // background-color: blue;
}

.back_text{
    background-color: rgba( #F7DF1E, 0.9);
    border-radius: 10px;
}