<app-skills-nav-bar></app-skills-nav-bar>
<!-- <router-outlet></router-outlet> -->
<div class="skills_container_principal">
    <app-containerskill [logoUrl]="'../../../../assets/javascript-39404.png'" [skillsInfoLeft]="">

        <!-- <div class="flex-center  left_text">
            <h1>hola mundo  </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quaerat repellat commodi ipsa id vitae placeat consectetur obcaecati inventore sed vero, culpa est recusandae nobis nostrum aspernatur nisi hic temporibus.</p>
        </div> -->

        <!-- <div class="flex-center right_text">
            <div>

                <h1>sentecias de control</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quaerat repellat commodi ipsa id vitae placeat consectetur obcaecati inventore sed vero, culpa est recusandae nobis nostrum aspernatur nisi hic temporibus.</p>
            </div>
            <div>

                <h1>hola mundo  </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quaerat repellat commodi ipsa id vitae placeat consectetur obcaecati inventore sed vero, culpa est recusandae nobis nostrum aspernatur nisi hic temporibus.</p>
            </div>
            <div>

                <h1>hola mundo  </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quaerat repellat commodi ipsa id vitae placeat consectetur obcaecati inventore sed vero, culpa est recusandae nobis nostrum aspernatur nisi hic temporibus.</p>
            </div>
        </div> -->
    </app-containerskill>

</div>
