<div #bioSec1>
  <app-section [refToScroll]="bioSec2">
    <app-bio></app-bio>
  </app-section>
</div>
<div #bioSec2>
  <app-section>
    <app-cards
      [boxShadowColor]="'White'"
      [urlImage1]="
        'https://cdn.pixabay.com/photo/2013/07/12/12/14/euro-145386_960_720.png'
      "
      [urlImage2]="
        'https://cdn.pixabay.com/photo/2013/07/12/12/14/euro-145386_960_720.png'
      "
      [textoCard]="this.personalDataService.pesonalData.bioInfo.bioSecond"
    >
    </app-cards>
  </app-section>
</div>
