<div class="modal flex_center flex-column" *ngIf="!this.isLandscape">
  <div class="modal_card text-center">
    <h1 class="">Hola, gracias por visitar mi Portafolio Web</h1>
    <p class="modal_card_paragraph">
      La compatibilidad total del este sitio con múltiples dispositivos esta en
      construcción, aun no soportamos la vista Portrain en móviles. Por favor
      gira la pantalla de tu celular y mantén tu celular horizontalmente gracias
      y disculpa las molestias .....
    </p>
  </div>
</div>

<app-navbar></app-navbar>

<div class="container_efect">
  <router-outlet *ngIf="this.isLandscape"></router-outlet>
</div>
