@import "../../../../global_mixins_variables.scss";


.menu-nav_item {
    
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 6em;
    position: relative;
    //  padding: 3px; 
    width: 7.8em;
    height: 2.5em;
    border-radius: 0.2em;
    cursor: pointer;
}

.menu-nav_item:hover {
    @include neonShadowBox(#c0bfdf, #ebebeb);
    // animation: rol .2s ease-in;
}

@keyframes rol {
    0% {
        // transform: rotate(90deg);
    }

    50% {
        // transform: rotate(180deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

.menu-nav_item_anchor {
    margin-left: 0.625em;
    text-decoration: none;
    color: white;
}


// @mixin neonShadowBox($color1, $color2) {
//     font-size: 20px;
//     box-shadow: 0 0 0.0432em 0.1725em #fff7f7, 0 0 0.1725em 0.2591em $color2,
//         0 0 1.7275em 0.1725em $color1, inset 0 0 0.6475em 0.1725em $color1,
//         inset 0 0 0.1725em 0.0862em $color2, inset 0 0 0.2156em 0.0862em #fff7f7;
// }

// color principal #0be516 color segundario #72e996
.neonGreen {

    @include neonShadowBox($neonGreenPrimary,$neonGreenSecondary);

}

.neonBlue {
    @include neonShadowBox(#0f0be5, #727ae9);
}

// color principal #e50b0b color segundario  #e97272

.neonRed {
    @include neonShadowBox(#e50b0b, #e97272);

}

.neonPurple {
    @include neonShadowBox(#4c0be5, #8472e9);

}

.neonYellow {
    @include neonShadowBox(#e5e10b, #e9d372);

}