

.sideBar{
  display:flex;
  // background-color: azure;
  height: 100vh;
  width: 100%;
}



.sideBar__infoUser{
  
  background-color: rgba($color: #ff4662, $alpha: 1);
  // border: 1px solid red;
  width: 90%;
}
.sideBar__navBar{
  // color: wheat;
  text-orientation: upright;
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;

  background-color: rgba($color: #000000, $alpha: 1);
  // border: 1px solid red;
  width: 10%;
  cursor: pointer;
}
.flex_center_heigth
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}
.sideBar__navBar__item1{
  background-color: white;
    
  P{
    margin-top: 9px;
  }
}

.sideBar__navBar__item1:hover{
  border: 1px solid black;
  border-left: 1px solid #ff4662;
}

.sideBar__navBar__item-active{
  color:#ff4662 !important;
}

.sideBar__navBar__item2:hover{
  border: 1px solid black;
  border-left: 1px solid #ff4662;
}
.sideBar__navBar__item2{
  color: white;
  P{
    margin-top: 9px;
  }
}


.cardGitUser{
  border-radius: 5px;
  background-color: white;
  height: 25em;
  width: 80%;

}
.cardGitUser_title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;

  

}

.cardGitUser__img{
  // height: 40%;
  img{
    margin-top: 0.4em;
    // height: 180px;
    border-radius: 60%;
    width: 50%;
    object-fit: cover;
  }
  border-bottom: 1px solid black;

}
.cardGitUser__Bio{
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  border-bottom: 1px solid black;

}
.cardGitUser__footer{
  height: 15%;
  display: flex;
  justify-content: center;
  // align-items: center;
  div:nth-child(1){

    border-right: 1px solid black;
  }
}
.cardGitUser__footer__item{

  width: 50%;
  p{
    margin: 0.3125em;
  }
 
}