@import '../../../global_mixins_variables.scss';

.cardsInfo{
    padding: 20px;
    display: flex;
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
.cardsInfo__article{
    color:white;
    h1{
        text-align: center;    
        @include textShadow($neonGreenPrimary)
    }
    p{
        text-align: justify;
    }
}
.boxShadowGreen{

    @include neonShadowBox($neonGreenPrimary,$neonGreenSecondary);
}
