@import '../../../global_mixins_variables.scss';
:host{
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsInfo{
    font-size: 1em;
    padding: 1.25em;
    display: flex;
    max-width: 45em;
    height: 25em;
    padding: 1.25em;
    background-color: rgba(0, 0, 0, 0.7);
    // margin-bottom: 200px;
    // margin-top: 200px;
}
.cardsInfo__article{
    color:white;
    h1{
        // font-size: 1em;
        text-align: center;    
        // @include textShadow($neonGreenPrimary)
    }
    p{
        font-size: 1em;
        text-align: justify;
    }
}
.boxShadowWhite{

    @include neonShadowBox(#c0bfdf, #ebebeb);

}

.rightImg{
    // position: relative;
    // left:  300px;
    // top: 50%;
    margin-left: 3.75em;
    width: 12.5em;
    height: 12.5em;
    img{
        width: 100%;
    }
    align-self: center;
}
.leftImg{
    // position: relative;
    // left:  300px;
    // top: 50%;
    margin-right: 3.75em;
    width: 12.5em;
    height: 12.5em;
    img{
        width: 100%;
    }
    align-self: center;
}

.container{
    display: flex;

    
}
