$neonGreenPrimary : #0be516;
$neonGreenSecondary :#72e996;








@mixin neonShadowBox($color1, $color2) {
    // font-size: 20px;
    // -webkit-box-shadow :  0 0 0.0432em 0.1725em #fff7f7, 0 0 0.1725em 0.2591em $color2,
    // 0 0 1.7275em 0.1725em $color1, inset 0 0 0.6475em 0.1725em $color1,
    // inset 0 0 0.1725em 0.0862em $color2, inset 0 0 0.2156em 0.0862em #fff7f7;
    box-shadow: 0 0 0.0432em 0.1725em #fff7f7, 0 0 0.1725em 0.2591em $color2,
        0 0 1.7275em 0.1725em $color1, inset 0 0 0.6475em 0.1725em $color1,
        inset 0 0 0.1725em 0.0862em $color2, inset 0 0 0.2156em 0.0862em #fff7f7;
}
@mixin textShadow($color) {
    text-shadow: 0 0 20px #fff, 
    0 0 30px  $color,
    0 0 40px  $color,
    0 0 50px  $color,
    0 0 60px $color, 
    0 0 70px  $color, 
    0 0 80px  $color;
}