
/* You can add global styles to this file, and also import other style files */
$urlBackGround :
url(

    "https://cdn.pixabay.com/photo/2016/03/09/09/42/buildings-1245953_960_720.jpg"
    )
;

body {
    background: $urlBackGround no-repeat center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;

    font-size: 16px;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_center{
    @include flexCenter();
}

.container_with{
    text-align: center;
    width: 80%;
    min-height: 93vh;
}

@media screen and (max-width: 1000px ) and (orientation : landscape){
    body{
        font-size: 9px;
        background-attachment: initial;
    }
}