/* You can add global styles to this file, and also import other style files */


body{
    background:url('https://cdn.pixabay.com/photo/2016/01/19/17/29/earth-1149733_960_720.jpg');
    background-size: cover;
    // background-repeat: repeat;

    font-size: 16px;
}