<div class="cardRepo">
  <div *ngIf="this.urlImg | async" class="cardRepo__ImgThumbnail">
    <img [src]="this.urlImg | async" alt="" />
  </div>
  <div class="cardRepo__title">
    <p>
      {{ this.nameRepo }}
    </p>
  </div>

  <div class="cardRepo__body flex_center">
    <p *ngIf="this.descriptionRepo !== null; else repoWithDescription">
      {{ this.descriptionRepo }}
    </p>
    <ng-template #repoWithDescription>
      <p>Repositorio sin descripción aun</p>
    </ng-template>
  </div>
  <div class="cardRepo__footer">
    <div>
      <p># commits</p>
      <p>
        {{ this.lengthCommits }}
      </p>
    </div>
    <div>
      <a class="cardRepo__footer__link" [href]="this.urlRepo" target="_black"
        >Ver</a
      >
    </div>
  </div>
</div>
