<div class="skills_information skills_information_size40">
  <!-- <ng-content select=".left_text"></ng-content> -->
  <div
    [@activeRotate]="isRotate"
    class="skills_card"
    [ngStyle]="{
      'background-color': 'rgba(' + backgroundColorInfos + ',0.9)'
    }"
  >
    <div
      class="flex-center"
      *ngFor="let skills of this.skillsInfoLeft; index as i"
    >
      <h1>{{ skills.title }}</h1>
      <p>{{ skills.info }}</p>
      <hr *ngIf="i < this.skillsInfoLeft.length - 1" />
    </div>
  </div>
</div>
<div class="skills_information skills_information_size20">
  <img
    class="skills_Logo"
    (click)="toggleIsOnLogo()"
    [ngClass]="{ skills_Logo_desactive: !isOnLogo }"
    [src]="this.logoUrl"
    alt=""
  />
</div>

<div class="skills_information skills_information_size40">
  <!-- <ng-content  select=".right_text"></ng-content> -->

  <div
    [@activeRotate]="isRotate"
    class="skills_card"
    [ngStyle]="{
      'background-color': 'rgba(' + backgroundColorInfos + ',0.9)'
    }"
  >
    <div
      class="flex-center"
      *ngFor="let skills of this.skillsInfoRigth; index as i"
    >
      <h1>{{ skills.title }}</h1>
      <p>{{ skills.info }}</p>

      <hr *ngIf="i < this.skillsInfoRigth.length - 1" />
    </div>
  </div>
</div>
